#profiler img {
  border-radius: 50%;
  height: auto;
  width: auto;
}

.about-container {
  display: grid;
  grid-template-columns: 0.9fr 0.7fr 0.4fr;
}

.about-width {
  width: 70%;
}

@media (max-width: 800px) {
  .about-container{
    width: 95%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .about-width {
    width: 95%;
  }
}