.job-container{
  display: grid;
  width: 70%;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  grid-template-rows: 1fr;
  column-gap: 1rem;
  row-gap: 3rem;
}

#job img {
  border-radius: 15%;
  height: 275px;
  width: 350px;
}

@media (max-width: 800px) {
  .job-container{
    width: 95%;
    display: grid;
    grid-template-columns: 1fr;
  }
}

.company-colour {
  color: #0b3dd5;
}

.role-colour {
  color: #5E9516
}

#experienceList li {
  margin-bottom: 6px;
}
