.module1 {
  background: url(awards.jpeg);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  overflow: hidden;
  margin: 20px;
}
 .blur {
    backdrop-filter: blur(25px);
}
