.skill-width {
  width: 70%;
}

.ul4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 1fr;
}

.certificates {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 1fr;
}

#computerList {
  list-style: none;
  padding: 0;
}

#computerList li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 6px;
}

#computerList li::before {
  position: absolute;
  content: '\1F4BB';
  left: 0;
  top: 0;
}

#checkList {
  list-style: none;
  padding: 0;
}

#checkList li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 6px;
}

#checkList li::before {
  position: absolute;
  content: '\2705';
  left: 0;
  top: 0;
}

#scrollList {
  list-style: none;
  padding: 0;
}

#scrollList li {
  text-align: left;
  position: relative;
  padding-left: 40px;
  margin-bottom: 6px;
}

#scrollList li::before {
  position: absolute;
  content: '\1F4DC';
  left: 0;
  top: 0;
}

@media (min-width: 1000px) {
  #scrollList li {
    text-align: center;
  }
  #scrollList li::after {
    position: absolute;
    content: '\1F4DC';
    right: 0;
    top: 0;
  }
}

@media (max-width: 800px) {
  .skill-width {
    width: 95%;
  }
}