.ul4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

#computerList {
  list-style: none;
  padding: 0;
}

#computerList li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 6px;
}

#computerList li::before {
  position: absolute;
  content: '\1F4BB';
  left: 0;
  top: 0;
}

#checkList {
  list-style: none;
  padding: 0;
}

#checkList li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 6px;
}

#checkList li::before {
  position: absolute;
  content: '\2705';
  left: 0;
  top: 0;
}

#scrollList {
  list-style: none;
  padding: 0;
}

#scrollList li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 6px;
}

#scrollList li::before {
  position: absolute;
  content: '\1F4DC';
  left: 0;
  top: 0;
}
#scrollList li::after {
  position: absolute;
  content: '\1F4DC';
  right: 0;
  top: 0;
}