.about-bg {
  background: url(az-subtle.png);
  background-color: #fdfd96;
  margin: 20px;
}

.awards-bg {
  background: url(az-subtle.png);
  background-color: #F1C5C2;
  margin: 20px;
}

.educ-bg {
  background: url(az-subtle.png);
  background-color: #C5EAFA;
  margin: 20px;
}

.skills-bg {
  background: url(az-subtle.png);
  background-color: #C5EAFA;  
  margin: 20px;
}

.experience-bg {
  background: url(az-subtle.png);
  background-color: #fdfd96;
  margin: 20px;
}

.organization-name {
  font-size: 120%;
}

 .blur {
   backdrop-filter: blur(50px);
}

.blur-coffee {
  backdrop-filter: blur(150px);
}

@media (max-width: 500px) {
  .about-bg {
    background: url(az-subtle.png);
    background-color: #fdfd96;
    margin: 0px;
    overflow-x: scroll;
  }
  
  .awards-bg {
    background: url(az-subtle.png);
    background-color: #F1C5C2;
    overflow-x: scroll;
    margin: 0px;
  }
  
  .educ-bg {
    background: url(az-subtle.png);
    background-color: #C5EAFA;
    overflow-x: scroll;
    margin: 0px;
  }
  
  .skills-bg {
    background: url(az-subtle.png);
    background-color: #C5EAFA;  
    overflow-x: scroll;
    margin: 0px;
  }
  
  .experience-bg {
    background: url(az-subtle.png);
    background-color: #fdfd96;
    overflow-x: scroll;
    margin: 0px;
  }
}